<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;X-Content-Type-Options: nosniff" http-equiv="Content-Type"/>
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static STATIC_CSS_URL %}css/site.css"/>
</head>
<body>
    {% for im in Images %}
    <a href="media/{{ im }}">
        <img class="border-rounded" src="media/{{ im }}" width="210" height="210"/>
    </a>
    {% endfor %}

    {% for videos in Videos %}
        <video controls loop width="210" height="210">
            <source class="border-rounded" src="media/{{ videos }}" type="video/mp4">
        </video>
    {% endfor %}
</body>
</html>