<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;X-Content-Type-Options: nosniff" http-equiv="Content-Type"/>
    <title>Home Page</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static STATIC_CSS_URL %}css/site.css"/>
</head>
<body>
    {% if images %}
        {% for img in images %}
            <a href="media/{{ img }}">
                <img class="border-rounded" src="media/{{ img }}" width="210" height="210"/>
            </a>
        {% endfor %}
    {% endif %}

    {% for video in videos %}
        <video controls loop width="210" height="210">
            <source class="border-rounded" src="media/{{ video }}" type="video/mp4">
        </video>
    {% empty %}
    {% endfor %}
</body>
</html>